p
{color: blue;}
p2 
{color: rgb(64, 226, 43);}
p3
 {color: rgb(255, 0, 21);}
p4
{color: rgb(255, 0, 149);}
p5
{color: rgb(148, 17, 180);}
p6
{color: rgb(189, 40, 132);}
p7
{ font-size: x-large;}